html
    head                      
        link(rel='stylesheet',href='/css/footer.css')        
    body
        .footer
            .area-terms
                ul.at
                    li.at-item
                        a(href="").at-a 회사소개
                    li.at-item
                        span.bar
                        a(href="").at-a 인재채용
                    li.at-item
                        span.bar
                        a(href="").at-a 제휴제안
                    li.at-item
                        span.bar
                        a(href="").at-a 이용약관
                    li.at-item
                        span.bar
                        a(href="").at-a 개인정보처리방침
                    li.at-item
                        span.bar
                        a(href="").at-a 고객보호정책
                    li.at-item
                        span.bar
                        a(href="").at-a 복싱 정책
                    li.at-item
                        span.bar
                        a(href="").at-a 고객센터
                    
                .at-cr
                     h3 copyright(c) Boxing Corp. All Rights Reserved

        
             

