include ../header.jade
html
    head
        link(rel='stylesheet',href='/css/basic.css')
        link(rel='stylesheet',href='/css/orderForm.css')
    body
        .container
            .pay-header
                img(src="/img/util/payment.png", alt="")
                span 주문/결제
            table.table-box
                thead
                    tr
                        th
                            strong 상품정보
                        th 수량
                        th 상품금액
                        th 배송비
                        th 판매자
                        th 주문금액
                tbody
                    tr
                        td.product-info
                            span
                                img(src="/img/dbimg/tadiwg.jpg", alt="")
                            div
                                p 복싱 권투 글러브
                                dl
                                    dt size :
                                    dd 10oz
                        td
                            span 1
                        td
                            span 200,000원
                        td
                            span 무료
                        td
                            span 아디다스
                        td
                            span 39,000원
            .price-box
                div
                    p
                        span.price-detail 총 상품금액
                            strong  250,000원
                        span
                            img.price-symbol(src="/img/util/sum.png", alt="")
                            |  배송비 
                            strong 0
                            | 원
                        span.price-total
                            img.price-symbol(src="/img/util/equal.png", alt="")
                            strong 300,000
                            |원
            form.order-form(action="")
                h3 배송 정보 작성
                table.order-table
                    tr
                        th 받으시는 분
                        td
                            div
                                input(type="text" name="orderName" placeholder="받으시는 분을 작성하세요" autofocus)
                    tr
                        th 주소
                        td
                            div
                                input(type="text" placeholder="주소를 작성하세요")
                    tr
                        th 휴대전화
                        td
                            div
                                input(type="text" placeholder="휴대전화를 작성하세요")
                    tr
                        th 주문자 정보
                        td
                            div
                                input(type="text" placeholder="주문자 정보를 작성하세요")
                div.buy-btn
                    button#order-btn(type='button' onclick="location.href='/orderFinish'") 결제하기

                
        script.
            $('#order-btn').onclick(function(){
                var orderName=$('orderName').val();
                if(orderName==""){
                    alert("받으시는 분을 입력하세요.");
                }
            })
include ../footer.jade
                    



      
                    

