include ../header.jade
html
    head
        link(rel='stylesheet',href='/css/basic.css')
        link(rel='stylesheet',href='/css/product.css')
    body
        .container
            .product-name
                h2 트윈스 트라이벌 드래곤
                div(style="margin-bottom:30px;")
                    hr
                .pro-img
                    .thumb-nail
                        img(src="/img/dbimg/adidashw1.jpg", alt="제품이미지")
                .info
                    .item
                        ul
                            li
                                strong 판매가격
                                div
                                    strong 125,000
                                    span 원
                            li
                                strong 제품코드
                                div
                                    strong BX-0122
                                    
                            li
                                strong 제조사
                                div
                                    strong 트윈스
                                    
                            li
                                strong 배송비
                                div
                                    strong 무료
                            li
                                strong 구매수량
                                span                                    
                                    input#pro-cnt(type="number" min="1" max="999" value="1")
                                    |  개
                                    
                    div.detail-btn
                        a(href="")
                            em 장바구니
                        a(href="")
                            em 바로 구매
            .pro-detail
                div
                    img(src="/img/prodetail/itemdetail.jpg", alt="")
                div
                    img(src="/img/prodetail/itemmiddle.jpg", alt="")
                div
                    img(src="/img/dbimg/adidashw2.jpg", alt="")
                div.readme
                    img(src="/img/prodetail/readme.jpg", alt="")
include ../footer.jade
                    
                    


                        
                                    